html, body, #root {
	height: 100%;
}

html {
	font-family: $main-font;
	line-height: 1;
	font-size: 14px;
	overflow-x: hidden;
	color: $dark-color;
}

a {
	color: $dark-color;
	text-decoration: none;
}

